html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

p, input, input[type] {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

header {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);

  text-align: center;

  padding: 15px;
}

div#article-container article {
  margin: 3% !important;
}

div#article-container article div#login-box div#information h1 {
  font-size: 3em;
  font-weight: 700;
}

div#article-container article div#login-box div#information p {
  font-size: 1.75em;
}

article div#login-box div#login-form form input {
  font-size: 1.5em;
}

div#article-container article div#login-box div#login-form form input[type=submit] {
  background: rgb(68, 228, 132);
  background: linear-gradient(90deg, rgba(68, 228, 132, 1) 0%, rgba(53, 149, 181, 1) 100%); 

  border: none;

  color: rgb(255, 255, 255);
}

div#article-container article div#login-box div#login-form form input[type=submit]:hover {
  background: rgb(118, 232, 164);
  background: linear-gradient(90deg, rgba(118, 232, 164, 1) 0%, rgba(87, 163, 189, 1) 100%); 
}

div#article-container article div#login-box div#login-form p#login-help {
  text-align: center;

  margin: 2%;
}

div#article-container article div#login-box div#login-form p#login-help a {
  color: rgba(53, 149, 181, 1);
}

div#article-container article div#login-box div#login-form p#login-help a:hover {
  color: rgba(87, 163, 189, 1);
}

div#article-container article div#login-box div#login-form p#login-help span#registration-text {
  margin-right: 3px;
}

div#article-container article div#login-box div#login-form p#login-help span#forgot-password-text {
  margin-left: 3px;
}

div#article-container article div#promotional-image-box {
  /* Image in HTML takes up too much height, so we're putting it as a background instead. */
  background: url('promotional.png') no-repeat;
  background-size: cover;
}

footer {
  text-align: center;
}
